{% extends 'theme.html' %}
{% load static %}



{% block 'content' %}


<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Short Term Course Create</h1>
                <a href="{% url 'view' %}" class="btn btn-danger btn-pill">View</a>

            </div>
            <!-- PAGE-HEADER END -->




            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <!-- IMAGE UPLOADER -->
                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Image Upload</h3>
                            </div>
                            <div class="card-body">
                                <div class="row mb-5">
                                    <div class="col-lg-12 col-sm-12 mb-4 mb-lg-0">
                                        <div class="dropify" data-height="180">
                                            {{ form.image }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- IMAGE UPLOADER end -->

                    <!-- DETAILS START -->
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Short Term Course Information</h3>
                            </div>
                            {% if form.errors %}
                            <div class="alert alert-danger">
                                {{ form.title.errors }}
                                {{ form.subtitle.errors }}
                                {{ form.description.errors }}
                                {{ form.amount.errors }}
                            </div>
                            {% endif %}


                            <div class="card-body">
                                <div class="row">
                                    <!-- Title -->
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Title</label>
                                            {{ form.title }}
                                        </div>
                                    </div>
                                    <!-- Subtitle -->
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Subtitle</label>
                                            {{ form.subtitle }}
                                        </div>
                                    </div>

                                    {{ form.description }}

                                    <!-- Description -->
                                    <!-- <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Description</label>
                                            <div id="summernote">

                                            </div>
                                        </div>
                                    </div> -->

                                    <!-- Amount -->
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Amount</label>
                                            {{ form.amount }}
                                        </div>
                                    </div>

                                    <!-- Status -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Status</label>
                                            {{ form.status_text }}
                                        </div>
                                    </div>
                                </div>

                                <!-- SUBMIT START -->
                                <div class="col-lg-12">
                                    <div class="mt-5">
                                        <a href="" class="btn btn-default btn-pill">Cancel</a>
                                        <button type="submit" class="btn btn-warning btn-pill">Submit</button>
                                    </div>
                                </div>
                                <!-- SUBMIT END -->
                            </div>
                        </div>
                    </div>
                    <!-- DETAILS END -->
                </div>
            </form>



        </div>
        <!-- CONTAINER END -->
    </div>
</div>
<!--app-content close-->

<script>
    $('.multi-field-wrapper').each(function () {
        var $wrapper = $('.multi-fields', this);
        $(".add-field", $(this)).click(function (e) {
            $('.multi-field:first-child', $wrapper).clone(true).appendTo($wrapper).find('input,textarea').val('')
                .focus();
        });
        $('.multi-field .remove-field', $wrapper).click(function () {
            if ($('.multi-field', $wrapper).length > 1)
                $(this).parent('.multi-field').remove();
        });
    });
</script>
{% endblock 'content' %}